services:
  postgres:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - config/.env
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-hc_admin}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-hc_password}
      POSTGRES_DB: ${POSTGRES_DB:-homecredit_db}
    ports:
      - "5432:5432"
    healthcheck:
      test:
        - CMD-SHELL
        - pg_isready -U ${POSTGRES_USER:-hc_admin} -d ${POSTGRES_DB:-homecredit_db}
      interval: 10s
      timeout: 5s
      retries: 5
    command:
      - "postgres"
      - "-c"
      - "max_wal_size=4GB"
      - "-c"
      - "min_wal_size=1GB"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init:/docker-entrypoint-initdb.d
      - ./data/raw/home-credit-default-risk:/data/home-credit:ro

volumes:
  pgdata:
